html {
  font-size: 14px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* background-color: #F1E8F5; */
}

.wordle-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-input {
  width: 75px;
  height: 75px;
  font-size: 24px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}


@media (max-width: 500px) {
  .letter-input {
      width: 48px;
      height: 48px;
      font-size: 18px;
  }
}

.btn-grey {
  background-color: darkgrey;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button i {
  font-size: 1.2em;
}

.letter-input-no-select {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.submit-button,
.clear-button {
  width: 3.5rem;
  height: 2.4rem;
  font-size: .75rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-button {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.navbar .navbar-nav .nav-link {
  color: #710083;
}

.navbar .navbar-brand {
  color: #710083;
}

.custom-h1 {
  color: #710083;
} */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-out;
}